.footer {
  background-color: #222;
  position: sticky;
  bottom: 0;
  z-index: 3;
  border-radius: 2px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
}

.link {
  margin: 0 5px 0 5px;
  text-decoration: none;
  color: white;
}

.link:hover {
  background-color: #fff;
  color: #222;
}
