.footer {
  background-color: #222;
  position: sticky;
  bottom: 0;
}

.navigation {
  display: flex;
  justify-content: flex-start;
}

.link {
  margin: 0 5px 0 5px;
  text-decoration: none;
  color: white;
}
